.landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingText {
    color: #e0fbfc;
    font-size: 1.7rem;
}

.days {
    color: #ee6c4d;
    font-size: 2.2rem;
    font-weight: 700;
}

.ready {
    font-size: 1.2rem;
    color: #e0fbfc;
    margin-top: 1rem;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
}
