.button {
   background-color: white;
   text-align: center;
   font-size: 1.4rem;
   border-radius: 2px;
}

.button:hover {
    background-color: rgb(51 253 216 / 55%);
    color: white;
}

.emoji {
    font-size: 4rem;
}

.landing {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingText {
    color: #e0fbfc;
    font-size: 2.7rem;
}

.days {
    color: #ee6c4d;
    font-size: 2.7rem;
    font-weight: 700;
}

.ready {
    font-size: 1.6rem;
    color: #e0fbfc;
    margin-top: 1rem;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.text > p {
    padding: 0.3rem;
    color: #e0fbfc;
    font-size: 1.4rem;
}

.text > ul {
    list-style-type: "\1F449";
    font-size: 1.4rem;
    margin-top: 2rem;
}

ul > li {
    padding: 5px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
}

.buttonContainer > a {
    padding: 0.5rem;
    flex: 1;
    min-width: 180px;
    margin: 8px;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.scrollDown {
    display: flex;
    justify-content: center;   
    font-size: 13px;
    color: #e0fbfc;
}

.footer {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    color: #e0fbfc;
}

.bottomNote {
    font-size: 1.4rem;
    color: #e0fbfc;
}

.titleContainer {
    display: flex;
    align-items: baseline;
}

.titleContainer  * {
    margin: 0 5px;
}

@media only screen and (max-width: 768px) {
    .titleContainer {
        flex-direction: column;
        align-items: center;
    }

    .titleContainer * {
        margin: 5px 0;
    }
}